<div class="quiz-form">
  <form action="/submit" method="post">
    <div class="quiz-form-header"></div>
    <div class="quiz-form-main">
      <% @questions.each_with_index do |q, i| %>
        <%= erb :question, locals: { question_no: i, question: q } %>
      <% end %>
    </div>

    <div class="quiz-form-footer">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
  </form>
</div>
<script src="/javascript/script.js"></script>
