<!DOCTYPE html>
<html>
<head>
  <title>daily quiz</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <%= yield %>
</body>
</html>
